<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">MYM Backup</a>

    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/backups">Backups</a>
    </div>
</nav>
